
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.75);
  -webkit-transition: opacity 300ms;
  -moz-transition: opacity 300ms;
  transition: opacity 300ms;
  z-index: 500;
}

.overlay.hidden {
  pointer-events: none;
  opacity: 0;
}

.overlay.closable {
  cursor: pointer;
}
